*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
nav{
    display:flex;
    width: 100%;
    background: #0099ff;
    position:relative ;
    justify-content:space-between;
    text-align: center;
    padding: 15px 30px;
}
nav .icon{
    font-size: 35px;
    font-weight: 800px;
    color:#ffff;
    cursor: pointer;
}
nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}
nav ol li{
    margin: 0 2px;
}
nav ol li a{
    color: #ffff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px ;
}
nav ol li:hover a{
    background: #ffff;
    color: #0099ff;
}
nav .search_box{
    display: flex;
    margin: auto;
    height: 35px;
    line-height: 35px;
}
nav .search_box input{
    border: none;
    outline: none;
    background: #ffff;
    height: 100%;
    padding:0 10px;
    font-size: 20px;
    width: 350px;
}
nav .search_box span{
    color: #0099ff;
    font-size: 20px;
    background-color: #ffff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.body2{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url(../Img/38.webp) no-repeat left;
    background-size: 40%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
.body3{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1700px;
    margin:auto;
}
ul{
    list-style: none;
}
.footer{
    background-color: #ffff;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col h4{
    font-size: 18px;
    color:#0099ff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: black;
    height: 2px;
    box-sizing: border-box;
    width:50px
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #0099ff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 0 10px 10px 0;
    text-align:center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
    font-size: 30px;
}
.footer-col .social-links a:hover{
    color: #0099ff;
}